* {
  font-family: Barlow Condensed, sans-serif !important;
}

.heading {
  color: #486181 !important;
  font-family: Barlow Condensed, sans-serif !important;
  font-weight: bold !important;
}

.bg-black,
.hover\:bg-primary-500:hover {
  background-color: #202e42 !important;
}
.hover\:border-black:hover {
  border-color: #202e42 !important;
}
.border-primary-500 {
  border-radius: 2px;
  border-color: #202e42 !important;
}
.text-primary-500,
.text-gray-600 {
  color: #202e42 !important;
}
.text-gray-900,
.text-gray-500,
.text-gray-400 {
  color: #486181 !important;
}
.text-green-500 {
  color: #bf3c43 !important;
}
.hover\:text-brandcontrast:hover,
.hover\:text-white:hover {
  color: #e2eaed !important;
}

.hover\:bg-brand:hover {
  background-color: #486181 !important;
}
.bg-brand {
  background-color: #486181 !important;
}
.hover\:border-brand:hover {
  border-color: #486181 !important;
}
.border-brand {
  border-color: #486181 !important;
}

main .bg-gray-100 {
  background-color: #e2eaed !important;
}

.bg-neutral-100 {
  background-color: white !important;
}

/* #__next > div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 !important;
} */
